.mainHeader{
    width: 100%;
    font-size: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 800px;
    padding-bottom: 5px;
}

.login{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login Button{
    width: 80px;
    height: 35px;
    background: rgb(72, 184, 89);
    font-size: 25px;
    border-radius: 10px;
    color: white;
}

.login Button:hover{
    background: orange;
    cursor: pointer;
}




