.coursesList{
    padding-top: 70px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.course{
    width:250px;
    height: 400px;
}

.course img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.details{
    padding: 15px;
    font-size: 22px;

}
.details Button{
    background: rgb(72, 184, 89);
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

.details Button:hover{
    background: black;
    color: white;
}
