.mainfooter{
    width: 100%;
    height: auto;
    background: #212529;
    color: white;
    display: flex;
    justify-content: center;
}

.footer{
    padding-top: 40px;
    width: 1200px;
}
.row1{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    font-size: 20px;
}

.row1-col{
    padding-bottom: 30px;
}

.col1{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-around;
    
}

.col1 img{
    width: 200px;
    height: 50px;
}
.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col4{
    display: flex;
    flex-direction: column;

}

.col5{
    display: flex;
    flex-direction: column;
}


.row2{
    display: flex;
    justify-content: center;
}

.container{
    border-top: 10px;
    padding: 30px;
}


h3{
    color: #ec2025;;
}
